body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .container p{
    justify-content: center;
    color: #ff6b6b;
  }
  
  h1 {
    color: #ff6b6b;
  }
  
  button {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    
  }
  
  #fallingHearts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff6b6b;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    animation: fall 3s linear infinite;
  }
  
  @keyframes fall {
    to {
      transform: translateY(100vh);
      opacity: 0;
    }
  }
  